<a href="https://colab.research.google.com/github/yujungha/python-study/blob/main/4_1%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input())
for i in range(1, 10):
  print(n, '*', i, '=', n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
for i in range(2, 10):
  print(i,'단 시작입니다')
  for j in range(1, 10):
    print(i,'*',j,'=',i*j)

2 단 시작입니다
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 단 시작입니다
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 단 시작입니다
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 단 시작입니다
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 단 시작입니다
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 단 시작입니다
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 단 시작입니다
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 단 시작입니다
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
n = 5
for i in range(n):
  print('*'*(i+1))

*
**
***
****
*****

In [ ]:
n = 5
for i in range(1, n + 1):
  for j in range(i):
    print('*', end = '')
  print()

*
**
***
****
*****

In [ ]:
for i in range(5):
  print('*', end='')

*****

In [ ]:
n = int(input())
for i in range(n):
  print(' '*(n-1-i)+'*'*(i+1))

4
   *
  **
 ***
****

In [ ]:
n = int(input())
for i in range(n):
  # 띄어쓰기
  for j in range(n-1-i):
    print(' ', end='')
  # 별찍기
  for j in range(i+1):
    print('*', end='')
  print()

5
    *
   **
  ***
 ****
*****

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n-1-i):
    print(' ', end = '')
  for j in range(i*2+1):
    print('*', end = '')
  print()

5
    *
   ***
  *****
 *******
*********

In [ ]:
n = int(input())
for i in range(n):
  for j in range(i):
    print(' ', end = '')
  for j in range((n-1-i)*2+1):
    print('*', end = '')
  print()

4
*******
 *****
  ***
   *

In [ ]:
n = int(input())
for i in range(n):
  for j in range(i):
    print(' ', end='')
  for j in range(n-i):
    print('*', end='')
  print()

5
*****
 ****
  ***
   **
    *