<a href="https://colab.research.google.com/github/yujungha/python-study/blob/main/%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
for i in range(2):
  print('강한친구 대한육군')

강한친구 대한육군
강한친구 대한육군

In [ ]:
text = input()
t = text.split(' ')
a = int(t[0])
b = int(t[1])

print(a + b)

1 2
3

In [ ]:
text = input()
t = text.split(' ')
a = int(t[0])
b = int(t[1])

print(a - b)

3 2
1

In [ ]:
text = input()
t = text.split(' ')
a = int(t[0])
b = int(t[1])

print(a * b)

2 3
6

In [ ]:
text = input()
t = text.split(' ')
a = int(t[0])
b = int(t[1])

print(a / b)

9 3
3.0

In [ ]:
text = input()
t = text.split(' ')
a = int(t[0])
b = int(t[1])

print(a + b)
print(a - b)
print(a * b)
print(a // b)
print(a % b)

4 2
6
2
8
2
0

In [ ]:
text = input()
t = text.split(' ')
a = int(t[0])
b = int(t[1])
c = int(t[2])

print((a + b) % c)
print(((a % c) + (b % c)) % c)
print((a * b) % c)
print(((a % c) * (b % c)) % c)

5 8 4
1
1
0
0

In [ ]:
text = input()
t = text.split(' ')
a = int(t[0])
b = int(t[1])

if a > b :
  print('>')
elif a < b :
  print('<')
else :
  print('==')

2 2
==

In [ ]:
n = int(input())
if n >= 90 :
  print('A')
elif n >= 80 :
  print('B')
elif n >= 70 :
  print('C')
elif n >= 60 :
  print('D')
else :
  print('F')

100
A

In [ ]:
n = int(input())
l = []
for i in range(n) :
  text = input()
  t = text.split(' ')
  a = int(t[0])
  b = int(t[1])
  l.append(a + b)

for i in range(len(l)) :
  print(l[i])

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

In [ ]:
n = int(input())
for i in range(n) :
  print(i + 1)

5
1
2
3
4
5

In [ ]:
l = [0, 0, 1, 2, 3, 4]
l.count(0)

2

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = a * b * c
l = list(str(d))
print(d)
print(l)

for i in range(10) :
  res = l.count(str(i))
  print(res)

150
266
427
17037300
['1', '7', '0', '3', '7', '3', '0', '0']
3
1
0
2
0
0
0
2
0
0

In [ ]:
l = []
t = []
for i in range(10) :
  n = int(input())
  l.append(n)
  res = l[i] % 42
  t.append(res)
print(t)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
n = int(input())

text = input()
t = text.split(' ')
t = list(map(int, t))

b = 0
for i in range(n) :
  a = t[i] / max(t) * 100
  b += a

print(b / n)

4
1 100 100 100
75.25

In [ ]:
'안녕'*3

'안녕안녕안녕'

In [ ]:
n = int(input())
for i in range(1, n+1):
  for j in range(i):
    print(i*j, end='')
  print()

5
0020360481205101520

In [ ]:
for j in range(1):
    print(j, end='')
print()
for j in range(2):
    print(j, end='')
print()
for j in range(3):
    print(j, end='')
print()
for j in range(4):
    print(j, end='')
print()
for j in range(5):
    print(j, end='')
print()

0
01
012
0123
01234

In [ ]:
n = int(input())
for i in range(n):
  for j in range(i+1):
    print(' ', end='')
  for j in range((n-1-i)*2+1):
    print('*', end='')
  print()

4
 *******
  *****
   ***
    *

In [ ]:
n = int(input())
for i in range(n):
  print('*'*i + ' '*((n-1-i)*2+1) + '*'*i)
for i in range(2*n-1):
  print('*', end='')

3

*   *
** **
*****

In [ ]:
n = int(input())
for i in range(n):
  for j in range(i):
    print('*', end='')
  for j in range((n-1-i)*2+1):
    print(' ', end='')
  for i in range(i):
    print('*', end='')
  print()
for i in range(2*n-1):
  print('*', end='')

3

*   *
** **
*****

In [ ]:
n = int(input())
for i in range(1, n):
  print('*'*i + ' '*((n-1-i)*2+2) + '*'*i)
for i in range(2*n):
  print('*', end='')

3
*    *
**  **
******

In [ ]:
n = int(input())
for i in range(1, n):
  for j in range(i):
    print('*', end='')
  for j in range((n-1-i)*2+2):
    print(' ', end='')
  for j in range(i):
    print('*', end='')
  print()
for i in range(2*n):
  print('*', end='')

3
*    *
**  **
******

In [2]:
n = int(input())
a = 1
for i in range(n):
  for j in range(n-1-i):
    print(' ', end='')
  for j in range(2*i+1):
    print(a, end='')
    a+=1
  print()

3
  1
 234
56789

In [ ]:
0